<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="shortcut icon" href="/src/assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/src/styles/output.css" />
  </head>
  <body>
    <%- include("./partials/header") %>

    <main class="min-h-[75vh] bg-white flex flex-col gap-8 justify-center items-center">
      <section class="bg-slate-100 dark:bg-base-100 min-h-[40vh] w-1/2 err-msg mt-6 mx-6 shadow-lg rounded-xl">
        <h1 class="pt-12 text-5xl text-error text-center">Error <%= err.statusCode %></h1>
        <p class="p-8 text-xl text-center text-warning"><%= err.message %></p>
        <!-- <p class="p-8 text-xl text-center text-warning">Error <% err.stack %></p> -->
      </section>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>
