<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Checker</title>
    <link rel="stylesheet" href="/src/styles/output.css" />
  </head>
  <body>
    <main>
      <!-- <div class="hero min-h-screen" style="background-image: url(/src/assets/code-review-tools.png)"> -->
      <div class="hero min-h-screen" style="background-image: url(/src/assets/atlassian.png)">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
            <h1 class="mb-5 text-8xl font-bold">Code Checker</h1>
            <p class="mb-5 text-2xl">
              A platform for Educators to streamline the process of evaluation of source code submitted by Students
            </p>
            <div class="buttons flex justify-center gap-8">
              <a href="/students/login"><button class="btn btn-secondary">Student Login</button></a>
              <a href="/teachers/login"><button class="btn btn-secondary">Teacher Login</button></a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
