<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course Details</title>
    <link rel="shortcut icon" href="/src/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/src/styles/output.css" />
  </head>
  <body>
    
    <%- include("./partials/header") %>

    <main class="min-h-[80vh] bg-white flex flex-col items-center gap-8">
      <dialog id="my_modal_3" class="modal">
        <div class="modal-box bg-error text-error-content">
          <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
          </form>
          <h3 class="msg-modal font-bold text-xl w-4/5 m-auto">Hello!</h3>
        </div>
      </dialog>
      <section class="welcome-msg w-[90%] mt-6 mx-6 min-h-[20vh] bg-white shadow-lg rounded-xl text-primary-content p-4">
        <h1 class="text-3xl py-4 text-center text-primary-content"><span class="course-code"><%= course.code %></span> - <%= course.name%></h1>
        <h1 class="text-2xl py-2 text-center text-primary-content">Upload Assignment</h1>
        <input type="text" placeholder="Assignment Name" class="assign-name block w-1/2 mx-auto mt-2 text-secondary input input-bordered input-primary" />
        <input type="number" placeholder="Number of questions" class="num-questions block w-1/2 mx-auto mt-2  text-secondary input input-bordered input-primary" />
        <input type="submit" class="submit-btn btn block w-1/6 mx-auto mt-2">
      </section>
      <div
        class="form courses text-white mb-6 w-[90%] grid grid-cols-[45%_45%] grid-rows-3 auto-rows-fr gap-8 justify-center "
      >
          <div class="card bg-base-100 shadow-xl">
            <div class="card-body flex flex-row justify-center">
              <label for="question-1" class="card-title grow basis-2/5">Question 1</h2>
              <textarea id="question-1" name="question-1" class="textarea textarea-primary grow basis-3/5" placeholder="Question Text"></textarea>
            </div>
          </div>
          <div class="card bg-base-100 shadow-xl">
            <div class="card-body flex flex-row justify-center">
              <label for="question-2" class="card-title grow basis-2/5">Question 2</h2>
              <textarea id="question-2" name="question-2" class="textarea textarea-primary grow basis-3/5" placeholder="Question Text"></textarea>
            </div>
          </div>
        </div>
    </main>
    <%- include("./partials/footer") %>
    <script type="text/javascript" src="/src/scripts/postAssignments.js"></script>
  </body>
</html>
